/* big tablet  to 1200px (widths smaller than 1140px row)*/

@media only screen and (max-width:1200px){
    
    blockquote{
   font-size: 15px;
    margin-top: 0px;
    
}
    
cite{
    font-size: 90%;
    margin-top: 10px;
    display: inline-block;
}
}

/* small tablets to big tablets from:768px to 1023px*/

@media only screen and (max-width:1023px){
    *{
        font-size: 15px;
    }
    .hero-text-box{
        font-size: 18px;
    }
    .main-nav{
        float: right;
        margin-top: 5px;
        margin-left: 0;
        padding: 0;
        
    }
    .logo{
        width: 50px;
        height: auto;
    }
     blockquote{
   font-size: 17px;
    margin-top: 0px;
          }
         cite{
             margin-left: 0;
             text-align: left;
        display: inline-block;
         }
    cite img{
        margin-left: 20px;
        margin-right: 10px;
        width: 30px;
        height: auto;
    }

   
    
}
/* small phones to small tablets from:481px to 767px*/

@media only screen and (max-width:767px){
    body{
        font-size: 17px;
        padding: 0 5%;
    }
    .col{ width: 100%;}
h1{
    font-size: 17px;
}
h2{
    font-size: 16px;
}

.main-nav li {
    font-size: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.logo{
    margin-left: 10px;
}

.section-testimonials{
    padding-bottom: 1040px;
}
cite{
    float: right;
    margin-right: 15px;
}
label{
    margin-left: 10px;
}
.section-form{
    text-align: center;
}
.section-form .row{
    margin-bottom: 15px;
}
.steps-box:first-child{ text-align: center;
margin-left: -20%;           

}
}


/* small phones from:0px to 480px*/

@media only screen and (max-width:480px){
    section{
        padding: 25px 0;
    } 
    .section-form{
        width: 100%;
    }
}
.hero-text-box {
    margin-left: auto;
    margin-right: auto;
}
*{
    font-size: 15px;
}
